<div class="review-index-page">
  <h1>い～ビュー</h1>

  <p><%= notice %></p>

  <div class="container">
    <div class="row">
      <% @citicizes.each do |citicize| %>
        <div class="col-sm-3 col-md-3 card">
          <%= link_to citicize_path(citicize.id) do %>
            <div class="image-container">
              <%= image_tag(citicize.artwork, :class => "artwork") %>
            </div>
            <h4 class="album-title"><%= citicize.album %></h4>
          <% end %>
          <p class="util-links-container">
              <span>
                  <button type="button" class="btn btn-primary btn-circle">
                    <%= link_to edit_citicize_path(citicize.id) do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                  </button>
                  <button type="button" class="btn btn-danger btn-circle">
                    <%= link_to citicize_path(citicize.id), method: :delete, data: { confirm: 'are you serious?'} do %>
                      <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                  </button>
              </span>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>