<div class="review-index-page">
  <p><%= notice %></p>

  <div class="container">
    <div class="row">
      <% @citicizes.each do |citicize| %>
        <div class="col-sm-3 col-md-3 card">
          <%= link_to citicize_path(citicize.id) do %>
            <div class="image-container">
          <% if citicize.artwork.present? %>
              <%= image_tag(citicize.artwork, :class => "artwork") %>
          <% else %>
            <%= image_tag("noimage.png", :class => "artwork") %>
          <% end %>
            </div>
            <%= @rate_avg %>
            <h4 class="album-title"><%= citicize.album %></h4>
          <% end %>
          <% if citicize.user_id == current_user.id %>
          <p class="util-links-container">
            <span>
                <button type="button" class="btn btn-primary btn-circle">
                  <%= link_to edit_citicize_path(citicize.id) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
                </button>
                <button type="button" class="btn btn-danger btn-circle">
                  <%= link_to citicize_path(citicize.id), method: :delete, data: { confirm: '本当に削除しますか?'} do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </button>
            </span>
          </p>
          <% else %>
            <p class="util-links0container"></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>