<div class="review-details-page">
<div class="row review-title-container">
  <div class="col-sm-6 col-md-6">
    <h1 class="album-info-review-title"><%= @citicize.title %></h1>
    <p class="review-post-user-name">Posted by <%= @citicize.user.name %></p>
  </div>
</div>

<div class="album-details-container">
  <div class="artwork-container">
    <% unless @citicize.artwork.blank? %>
      <%= image_tag(@citicize.artwork) %>
    <% else %>
      <%= image_tag('noimage.png') %>
    <% end %>
  </div>
  <div class="album-info-container">
    <p class="album-info-title"><%= @citicize.album %></p>
    <p class="album-info-artist-name"><%= @citicize.artist %></p>
    
    <p class="album-info-review-content"><%= @citicize.content %></p>
    <% if @citicize.user_id == current_user %>
      <%= link_to '編集', edit_citicize_path(@citicize) %>
    <% end %>
    <% if @rate_avg != nil %>
      <p>評価平均：<%= @rate_avg %></p>
    <% else %>
      <p>まだ評価がありません</p>
    <% end %>
    <% unless @citicize.user_id == current_user %>
    <% if @estimate.present? %>
      <p>自身の評価：<%= @estimate[0].rate %></p>
      <%= link_to 'レビューの評価を削除する', estimate_path(citicize_id: @citicize.id), method: :delete %>
    <% else %>
      <%= link_to 'レビューを評価する', estimate_path(citicize_id: @citicize.id), method: :post %>
    <% end %>
  <% end %>
  </div>
</div>

  <div class="reviews-container">
    <p>コメント一覧</p>
    <div id="comments_area">
      <!-- 投稿されたコメント一覧をレビューの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments, citicize: @citicize } %>
    </div>

    <!-- コメント入力欄をレビューの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/form', locals: { comment: @comment, citicize: @citicize } %>
  </div>
</div>










